.contacts-list {
  grid-row-start: 2;
  overflow-y: scroll;
}
.contact-li:hover {
  cursor: pointer;
  background-color: var(--brand-color-100);
}

.contact-li--active{
  background-color: var(--brand-color-100);
}

.abc-filter-btn {
  display: block;
  margin: 8px 8px 16px 8px ;
}

.abc-filter-btn > .btn-icon {
  vertical-align: middle;
}

.alphabet-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.letter-btn {
 width: 48px;
 height: 48px;
 margin: 8px;
 line-height: 100%;
}